﻿

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js?id=1"></script>
    <link href="~/Styles/public.css?id=1" rel="stylesheet" />
    <script src="~/Scripts/public.js?id=15"></script>
    <style>
        .sys-summary {
            display: inline-block;
            text-align: center;
            min-width: 20px;
            font-size: 18px;
            color: #ff6a00;
        }

        .photo-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .gray {
            color: #f30f86;
        }

         .blue {
            color: blue;
        }

        .red {
            color: red;
        }

        .mny {
            display: inline-block;
            width: 140px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }

        .font-size{
             font-size:18px;
        }

        .watit {
            color: gray;
        }
    </style>

    <script type="text/javascript">
        var servUrl_AppData = '@ViewData["servUrl_AppData"]';
        var grid;
        var data = @Html.Raw(ViewData["data"]);
        var uid = '@ViewData["id"]';

        var select;
        $(function () {
            //设置表格的高度
            var parentHeight = $(window).height();
            var width = $("#desc").width();
            $("#datagrid1").height(parentHeight - 196);
            $("#datagrid2").height(parentHeight - 196);

            $("#datagrid1").width(width / 2 + 10);
            $("#datagrid2").width(width / 2 + 10);

            mini.parse();

            grid = mini.get("datagrid1");

            grid2 = mini.get("datagrid2");

            grid.load();
            grid2.load();

            drawCell();

            init();
            deal_Num("s_gift");
            deal_Num("s_award");
            deal_Num("s_plat");
            deal_Num("s_task");
            deal_Num("t4");
            deal_Num("t5");
            deal_Num("t6");
        })

        function init() {
            $("#s_gift").html(data.s_gift);
            $("#s_award").html(data.s_award);
            $("#s_plat").html(data.s_plat);
            $("#s_task").html(data.s_task);
        }

        function drawCell() {
            grid.on("drawcell", function (e) {
                var record = e.record,
                    column = e.column,
                    field = e.field,
                    value = e.value;

                var record = e.record,
                     column = e.column,
                     field = e.field,
                     value = e.value;

                if (column.name == "dtm") {
                    var dtm = record.dtm;
                    if (dtm == null) { dtm = ''; }
                    else { dtm = dtm.replace(' ', '<br/>'); }

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<span class="red" style="font-size:18px;">' + dtm + '</span>';
                }

                if (column.name == "amount") {
                    var amount = record.amount;
                    var cls = 'blue';
                    e.cellStyle = "text-align:right";
                    e.cellHtml = '<a class="' + cls + '" style="font-size:18px;" href="javascript:ChartAB(\'' + record.dtm + '\',\'' + record.uid_to + '\' ,\'' + record.uid_from + '\')"> <span>'+amount+'</span> </a>';
                    e.cellHtml += "&nbsp;&nbsp;&nbsp;";
                }
                if (column.name == "type") {
                    var type = record.type;
                    var type_dtl = record.type_dtl;

                    var cls = 'gray';
                    if (type == "减少") {
                        cls = 'blue';
                    }
                    if (type_dtl == "购买") {
                        cls = 'red';
                    }

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<span class="' + cls + '" style="font-size:18px;">' + type + '</span>';
                    e.cellHtml += "&nbsp;&nbsp;&nbsp;";
                }
                if (column.name == "comment") {
                    var comment = record.comment;
                    e.cellHtml = '<span>' + comment + '</span>';
                }

                if (column.name == "photo2") {

                    if (record.photo2) {
                        var photo = servUrl_AppData + '/photo/' + record.photo2;
                        var nick = record.nick2;
                        var sex = record.sex2;
                        var color = "";
                        if (sex == "男生") {
                            color = "blue";
                        } else {
                            color = "red";
                        }

                        //e.cellStyle = "text-align:center";

                        e.cellHtml = '<a href="javascript:UserAllInfo(\'' + record.uid_to + '\',500,1300)"><img src="' + photo + '" class="photo-img" />';
                        //e.cellHtml += "<br/>";
                        e.cellHtml += "<span style='color:" + color + "'>" + nick + "(" + sex + ")" + "</span></a>";
                    }
                }

                if (column.field == "amount") {
                    var amount = record.amount;
                    var item = separate_Num(amount);
                    e.cellHtml = '<a class="blue" style="font-size:18px;" href="javascript:ChartAB(\'' + record.dtm + '\',\'' + record.uid_to + '\' ,\'' + record.uid_from + '\')"> <span>' + item + '</span> </a>';
                }

            });

            grid2.on("drawcell", function (e) {
                var record = e.record,
                    column = e.column,
                    field = e.field,
                    value = e.value;

                if (column.name == "dtm") {
                    var dtm = record.dtm;
                    if (dtm == null) { dtm = ''; }
                    else { dtm = dtm.replace(' ', '<br/>'); }

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<span class="red" style="font-size:18px;">' + dtm + '</span>';
                }

                if (column.name == "amount") {
                    var amount = record.amount;
                    var cls = 'blue';
                    e.cellStyle = "text-align:right";
                    e.cellHtml = '<a class="' + cls + '" style="font-size:18px;">' + amount + '</a>';

                }
                if (column.name == "type") {
                    var type = record.type;
                    var type_dtl = record.type_dtl;

                    var cls = 'gray';
                    if (type == "减少"){
                        cls = 'blue';
                    }
                    if (type_dtl == "购买") {
                        cls = 'red';
                    }

                    e.cellStyle = "text-align:center";
                    e.cellHtml = '<span class="' + cls + '" style="font-size:18px;">' + type + '</span>';
                    e.cellHtml += "&nbsp;&nbsp;&nbsp;";
                }

                if (column.name == "amount") {
                    var amount = record.amount;
                    var item = separate_Num(amount);
                    e.cellHtml = '<span class="blue" style="font-size:18px;">' + item + '</span>'
                }

            });
        }

        function search() {
            var type_dtl = $("#type_dtl").val();
            var dtm = mini.get("dtm").getText();

            grid.load({
                "type_dtl": type_dtl,
                "dtm": dtm
            });
        }

        function onRowClick(e) {
            select = e.record;
            var dtm_pre = select.dtm;
            var dtm = difftime(dtm_pre);
            $("#select_time").html("(" + dtm +")");
        }

        function pie() {
            var dtm;
            if (select) {
                dtm = select.dtm;
            } else {
                dtm = "";
            }
            var id = '@ViewData["id"]';
            var url = "/Admin1/User_Score_Pie?" + "id=" + id + "&dtm=" + dtm;
            mini.open({
                url: url,
                showMaxButton: false,
                title: "积分组成",
                width: '100%',
                height: '100%',
                ondestroy: function (action) {
                    //grid.reload();
                }
            });
        }

        function trend() {
           
            var url = "/Admin1/User_Score_Trend/@ViewData["id"]";
            mini.open({
                url: url,
                showMaxButton: false,
                title: "积分趋势",
                width: '100%',
                height: '100%',
                ondestroy: function (action) {
                    //grid.reload();
                }
            });
        }
        


        function deal_Num(id) {
            var v = $("#" + id).html().trim();
            var len = v.length;
            if (v.length > 3) {
                var pre = v.substring(0, len - 3);
                var last3 = v.substring(len - 3);
                var newV = pre + ',' + last3;
                $("#" + id).html(newV);
            }
        }

        function onDrawSummaryCell(e) {
            var result = e.result;
            var grid = e.sender;

            //客户端汇总计算
            if (e.field == "amount") {
                e.cellHtml = separate_Num(e.cellHtml);
                e.cellStyle = "text-align:right";
                e.cellHtml = '<span style="display:inline-block;margin:10px 0; color:red; font-size:18px; font-weight:bold;">' + e.cellHtml + '</span>';
            }
        }

        function difftime(dtm) {
            var rtn;
            var dtm_pre = new Date(dtm);
            var dtm_now = new Date();
            var diffTime = dtm_now - dtm_pre; // 时间差
            var diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24)); // 转换为天
            var diffHours = Math.floor((diffTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)); // 转换为小时

            if (diffDays === 0) {
                rtn = diffHours + "小时";
            } else {
                rtn = diffDays + "天" + diffHours + "小时";
            }

            return rtn;
        }

        function handle_score() {
            mini.open({
                url: "/Admin1/Action_score/" + uid + "?comment=提现减免手续费&type=增加",
                showMaxButton: false,
                title: "积分操作",
                width: 650,
                height: 560,
                ondestroy: function (action) {
                    if (action == "ok") {
                        grid.reload();
                        grid2.reload();
                    }
                    else if (action == "cancel") {

                    }
                }
            });
        }

    </script>

</head>
<body>
    <form id="form1">
        <div id="desc" style="padding: 15px; margin-bottom: 5px; border: solid 1px #dcdcdc;">
            <span class="mny">礼物+好友积分:<br /><span class="red font-size" id="s_gift"></span></span>
            <span class="mny">上榜奖励:<br /><span class="red font-size" id="s_award"></span></span>
            <span class="mny">平台操作:<br /><span class="red font-size" id="s_plat"></span></span>
            <span class="mny">任务积分:<br /><span class="red font-size" id="s_task"></span></span>

            <span class="mny">总积分:<br /><span id="t4" class="blue font-size">@ViewData["score_total"]</span></span>
            <span class="mny">可兑换:<br /><span id="t5" class="blue font-size">@ViewData["score_canuse"]</span></span>
            <span class="mny">已兑换:<br /><span id="t6" class="blue font-size">@ViewData["score_used"]</span></span>
        </div>

        <div class="sys-content-border" style="padding:8px 3px;">
            日期: <input id="dtm" format="yyyy-MM-dd" class="mini-datepicker" style="width:120px;" value="" /> &nbsp;&nbsp;&nbsp;&nbsp;
            类别:
            <select id="type_dtl" style="height:24px;">
                <option value="" selected="selected">全部</option>
                <option value="收到礼物">收到礼物</option>
                <option value="同意添加好友">同意添加好友</option>
                <option value="消息收入">消息收入</option>
                <option value="语音收入">语音收入</option>
                <option value="上榜奖励">上榜奖励</option>
                <option value="平台操作-增加">平台操作-增加</option>
                <option value="任务奖励-聊天">任务奖励-聊天</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;

            <input id="btn_search" type="button" class="sys-btn" value="查找" onclick="search()" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_pie" type="button" class="sys-btn" value="积分组成" onclick="pie()" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_pie" type="button" class="sys-btn" value="积分趋势" onclick="trend()" />&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="select_time"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="btn_opt" type="button" class="sys-btn" style="background-color: orange" value="积分操作" onclick="handle_score()" />&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <table>
            <tr>
                <td>
                    <div id="datagrid1" class="mini-datagrid" style="width:500px;height:600px;"
                         url="/Admin1/GetScoreList/@ViewData["id"]?bll=增加" idfield="id" allowresize="true"
                         showsummaryrow="true" ondrawsummarycell="onDrawSummaryCell"
                         sizelist="[20,100,1000]" pagesize="20">
                        <div property="columns">
                            <div field="xh" width="20" headeralign="center" align="center" allowsort="false">序号</div>

                            <div name="dtm" width="90" renderer="onGenderRenderer" align="center" headeralign="center">操作时间</div>
                            <div name="photo2" width="130" headeralign="center" align="left" allowsort="false">头像</div>
                            <div field="amount" name="amount" id="amount" width="60" renderer="onGenderRenderer" align="center" headeralign="center" summarytype="sum">积分</div>
                            <div name="type" width="60" renderer="onGenderRenderer" align="center" headeralign="center">类型</div>
                            <div field="type_dtl" width="60" renderer="onGenderRenderer" align="center" headeralign="center">类型详情</div>
                            <div name="comment" width="60" renderer="onGenderRenderer" align="center" headeralign="center">备注</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="datagrid2" class="mini-datagrid" style="width:500px;height:600px;"
                         url="/Admin1/GetScoreList/@ViewData["id"]?bll=减少" idfield="id" allowresize="true"
                         sizelist="[20,100,1000]" pagesize="20" onrowclick="onRowClick" >
                        <div property="columns">
                            <div field="xh" width="40" headeralign="center" align="center" allowsort="false">序号</div>

                            <div name="dtm" width="80" renderer="onGenderRenderer" align="center" headeralign="center">操作时间</div>
                            <div name="amount" id="amount" width="80" renderer="onGenderRenderer" align="center" headeralign="center">积分</div>
                            <div name="type" width="80" renderer="onGenderRenderer" align="center" headeralign="center">类型</div>
                            <div field="type_dtl" width="80" renderer="onGenderRenderer" align="center" headeralign="center">类型详情</div>
                            <div field="comment" width="80" renderer="onGenderRenderer" align="center" headeralign="center">备注</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>



    </form>
</body>
</html>
