
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/miniui/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/Global.js"></script>
    <link href="~/Styles/Style_chart_phone.css" rel="stylesheet" />
    <link href="~/Styles/public.css" rel="stylesheet" />
    <style>
        .sys-summary {
            display: inline-block;
            text-align: center;
            min-width: 20px;
            font-size: 18px;
            color: #ff6a00;
        }

        #chat_dtl {
            overflow-x: hidden;
            overflow-y: scroll;
            border: solid 1px #dcdcdc;
            background-color: RGB(239,239,244);
        }

        .font-bold {
            font-weight: bold;
        }

        .photo-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        #form1{
            padding:0;
        }
        .off{
             position: fixed;
             bottom:0;
             right:30px;
             padding:5px 10px;
             background-color:#e92162;
             color:#fff;
             border-radius:5px;
             width:80%;
             text-align:center;
        }
    </style>

    <script type="text/javascript">

        var servUrl_AppData ="@ViewData["servUrl_AppData"]";
        var photo_from =servUrl_AppData+"/photo/"+"@ViewData["photo_from"]";
        var photo_to =servUrl_AppData+"/photo/"+"@ViewData["photo_to"]";

        //console.log(photo_from);
        //console.log(photo_to);

        $(function () {
            init();

            $("#off").bind("click",function(){
                CloseWindow("ok");
            })
        })
        function CloseWindow(action) {
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        }

        function init() {
            var data = @Html.Raw(ViewData["data"]);
            dtl(data);
        }

        function dtl(data) {
            //清空上次内容
            $("#contMsg").html("");

            var to = '@ViewData["to"]';
            var from = '@ViewData["from"]';

            for (var i = 0; i < data.length; i++) {
                if (data[i].uid_to == to) {
                    appendHistory("3", data[i]);
                }
                if (data[i].uid_to == from) {
                    appendHistory("2", data[i]);
                }
            }
        }

        function appendHistory(txtType, data) {
            var txt = data.txt;
            var msg_type = data.type;
            if (msg_type == "pic" || msg_type == "gif" || msg_type == "emoji" || msg_type == "gift") {
                txt = "<img src='" + txt + "' style='width:100px;' />";
            }
            var id = '';
            var htmlTxt = '';
            var iwidth;

            var font_wt = "";

            switch (txtType) {
                case "2":
                    id = Math.floor(Math.random() * 100000);
                    htmlTxt = '<div id="m' + id + '" class="message right"><div class="" style="">' + data.sj + '</div> <div class="message-text ' + font_wt + '">' + txt + '</div> <img style="width:50px;border-radius:50%;" src="'+ photo_to+'"/> </div>';
                    $(".messages").append(htmlTxt);
                    iwidth = $("#m" + id + " .message-text").width() + 60;
                    $("#m" + id + " .readSign").css({ "right": iwidth.toString() + "px", "visibility": "visible" });
                    break;
                    //对方说话
                case "3":
                    id = Math.floor(Math.random() * 100000);
                    htmlTxt = '<div id="m' + id + '" class="message left"> <img id="photo_to" style="width:50px;border-radius:50%;" src="'+ photo_from +'"/> <div class="message-text' + font_wt + '">' + txt + '</div></div>';
                    $(".messages").append(htmlTxt);
                    break;

            }
        }

    </script>
</head>
<body>
    <form id="form1">

        <div id="chat_dtl" style="width: 100%; height:500px;">
            <div class="content-inner" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                <div id="contMsg" class="messages">
                </div>
            </div>
        </div>
        <div id="off" class="off">关闭</div>
    </form>
</body>
</html>
